@model Emlak_Ofisi.Models.Tip

@{
    ViewBag.Title = "Create";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!--Filtreleme-->
            <form class="form-horizontal">
                <div class="form-group row" style="padding-top: 20px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">En Az</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="En Az(Fiyat)">
                    </div>
                </div>
                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">En Çok</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="En Çok(Fiyat)">
                    </div>
                </div>
                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Şehir</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Şehir">
                    </div>
                </div>
                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Semt</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Semt">
                    </div>
                </div>

                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Mahalle</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Mahalle">
                    </div>
                </div>
                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Durum</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Durum">
                    </div>
                </div>
                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Tip</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Tip">
                    </div>
                </div>


                <div class="form-group" style="padding-top: 10px; padding-bottom:180px;">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary btn-block" style="float: right; width: 60%;">Filtrele<i class="fa fa-search" style="font-size: 14px; padding-top: 6px; padding-left: 8px;"></i></button>
                    </div>
                </div>
            </form>
            <!--Filtreleme-->
        </div>

        <div class="col-md-9">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Tip</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.TipAd,"Tip Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TipAd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TipAd, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DurumId, "Durum Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("DurumId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DurumId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <br />
                        <input type="submit" value="Ekle" class="btn btn-primary" />
                        @Html.ActionLink("Tip Listesi", "Index", null, new { @class = "btn btn-warning" })
                    </div>
                </div>
            </div>
            }




        </div>
    </div>
</div>
