
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!--Filtreleme-->
            <form class="form-horizontal">
                <div class="form-group row" style="padding-top: 20px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">En Az</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="En Az(Fiyat)">
                    </div>
                </div>
                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">En Çok</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="En Çok(Fiyat)">
                    </div>
                </div>
                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Şehir</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Şehir">
                    </div>
                </div>
                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Semt</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Semt">
                    </div>
                </div>

                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Mahalle</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Mahalle">
                    </div>
                </div>
                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Durum</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Durum">
                    </div>
                </div>
                <div class="form-group row" style="padding-top: 10px;">
                    <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Tip</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Tip">
                    </div>
                </div>


                <div class="form-group" style="padding-top: 10px; padding-bottom:180px;">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary btn-block" style="float: right; width: 60%;">Filtrele<i class="fa fa-search" style="font-size: 14px; padding-top: 6px; padding-left: 8px;"></i></button>
                    </div>
                </div>
            </form>
            <!--Filtreleme-->
        </div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-sm-2 g-4" style="margin-top:20px;">

                <div class="col-md-3" style="margin-top:20px;">
                    <div class="card">
                        <img src="~/images/haftalik-analiz.png" style="height:80px; width:80px; margin-left:70px;" />
                        <div class="caption" style="margin-left:60px; padding-top:15px;">
                            <p>@Html.ActionLink("Şehir Listesi", "Index", "Sehir", "null", new { @class = "btn btn-success btn-block" })</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:20px;">
                    <div class="card">
                        <img src="~/images/haftalik-analiz.png" style="height:80px; width:80px; margin-left:70px;" />
                        <div class="caption" style="margin-left:60px; padding-top:15px;">
                            <p>@Html.ActionLink("Semt Listesi", "Index", "Semt", "null", new { @class = "btn btn-info btn-block" })</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:20px;">
                    <div class="card">
                        <img src="~/images/haftalik-analiz.png" style="height:80px; width:80px; margin-left:70px;" />
                        <div class="caption" style="margin-left:60px; padding-top:15px;">
                            <p>@Html.ActionLink("Mahalle Listesi", "Index", "Mahalle", "null", new { @class = "btn btn-primary btn-block" })</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:20px;">
                    <div class="card">
                        <img src="~/images/haftalik-analiz.png" style="height:80px; width:80px; margin-left:70px;" />
                        <div class="caption" style="margin-left:60px; padding-top:15px;">
                            <p>@Html.ActionLink("Durum Listesi", "Index", "Durum", "null", new { @class = "btn btn-warning btn-block" })</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:20px;">
                    <div class="card">
                        <img src="~/images/haftalik-analiz.png" style="height:80px; width:80px; margin-left:70px;" />
                        <div class="caption" style="margin-left:60px; padding-top:15px;">
                            <p>@Html.ActionLink("Tip Listesi", "Index", "Tip", "null", new { @class = "btn btn-primary btn-block" })</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top:20px;">
                    <div class="card">
                        <img src="~/images/haftalik-analiz.png" style="height:80px; width:80px; margin-left:70px;" />
                        <div class="caption" style="margin-left:60px; padding-top:15px;">
                            <p>@Html.ActionLink("İlan Listesi", "İlanListesi", "Admin", "null", new { @class = "btn btn-warning btn-block" })</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

