@model Emlak_Ofisi.Models.İlan
@{
    ViewBag.Title = "Detay";
}
<style>
    section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
/*footer*/
</style>
<div class="container" style="padding-top: 25px;">
    <div class="row">
        <div class="col-md-8">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
               
                <div class="carousel-inner">
                    @{ int i = 0; }
                    @foreach (var item in ViewBag.imgs)
                            {
                                i++;
                                var active = i == 1 ? "active" : "";
                    <div class="carousel-item @active">
                            <img src="~/images/@item.ResimAd" class="d-block w-100" alt="..." style="height:630px;">
                        </div>
                     }


                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <table class="table table-bordered">
                <tbody>
                    <tr><th colspan="2">İlan Özellikleri</th></tr>
                    <tr><td><strong>Açıklama</strong></td><td>@Model.Açıklama</td></tr>
                    <tr><td><strong>Fiyat</strong></td><td>@Model.Fiyat</td></tr>
                    <tr><td><strong>Durum</strong></td><td>@Model.Tip.Durum.DurumAd</td></tr>
                    <tr><td><strong>Tip</strong></td><td>@Model.Tip.TipAd</td></tr>
                    <tr><td><strong>Alan</strong></td><td>@Model.Alan m<sup>2</sup></td></tr>
                    <tr><td><strong>Oda Sayısı</strong></td><td>@Model.OdaSayisi</td></tr>
                    <tr><td><strong>Banyo Sayısı</strong></td><td>@Model.BanyoSayisi</td></tr>
                    <tr><td><strong>Kat</strong></td><td>@Model.Kat</td></tr>
                    <tr><td><strong>Adres</strong></td><td>@Model.Adres</td></tr>
                    <tr><td><strong>Mahalle</strong></td><td>@Model.Mahalle.MahalleAd</td></tr>
                    <tr><td><strong>Semt</strong></td><td>@Model.Mahalle.Semt.SemtAd</td></tr>
                    <tr><td><strong>Şehir</strong></td><td>@Model.Mahalle.Semt.Sehir.SehirAd</td></tr>
                    <tr><td><strong>Kredi</strong></td><td>
                        @if (Model.Kredi==true)
                        {
                            <label class="label label-success">Evet</label>
                        }
                        else
                        {
                            <label class="label label-success">Hayır</label>
                        }
                        </td></tr>
                    <tr><td><strong>Telefon</strong></td><td><button class="btn btn-success btn-block" style="width: 100%;">@Model.Telefon<i class="fa fa-phone" style="padding-left: 5px;"></i></button></td></tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
