@model Emlak_Ofisi.Models.İlan

<div class="col-md-3">
    <!--Filtreleme-->
    @using(Html.BeginForm("Filtre","Home",FormMethod.Get, new { @class="form - horizontal" }))
     {
        
        <div class="form-group row" style="padding-top: 20px;">
            <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">En Az</label>
            <div class="col-sm-8">
                <input type="text" name="min" class="form-control" placeholder="En Az(Fiyat)">
            </div>
        </div>
        <div class="form-group row" style="padding-top: 10px;">
            <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">En Çok</label>
            <div class="col-sm-8">
                <input type="text" name="max" class="form-control" placeholder="En Çok(Fiyat)">
            </div>
        </div>
        <div class="form-group row" style="padding-top: 10px;">
            <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Şehir</label>
            <div class="col-sm-8">
                @if (ViewBag.sehirlist != null)
                {
                    @Html.DropDownListFor(m => m.SehirId, ViewBag.sehirlist as SelectList, "Şehir Seç", new { @class = "form-control" })
                }
            </div>
        </div>
        <div class="form-group row" style="padding-top: 10px;">
            <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Semt</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(m => m.SemtId, new SelectList(""), "Semt Seç", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row" style="padding-top: 10px;">
            <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Mahalle</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(m => m.MahalleId, new SelectList(""), "Mahalle Seç", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row" style="padding-top: 10px;">
            <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Durum</label>
            <div class="col-sm-8">
                @if (ViewBag.durumlist != null)
                {
                    @Html.DropDownListFor(m => m.DurumId, ViewBag.durumlist as SelectList, "Durum Seç", new { @class = "form-control" })
                }
            </div>
        </div>
        <div class="form-group row" style="padding-top: 10px;">
            <label for="inputEmail3" class="col-sm-4 control-label" style="font-weight: bold;">Tip</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(m => m.TipId, new SelectList(""), "Tip Seç", new { @class = "control-label" })
            </div>
        </div>


        <div class="form-group" style="padding-top: 10px; ">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary btn-block" style="float: right; width: 60%;">Filtrele<i class="fa fa-search" style="font-size: 14px; padding-top: 6px; padding-left: 8px;"></i></button>
            </div>
        </div>
    
     }
    
    <!--Filtreleme-->
</div>
<script src="~/scriptss/scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#SehirId").change(function () {

            var sehirid = $(this).val();
            debugger
            $.ajax({
                type: "Post",
                url: "/İlan/SemtGetir?SehirId=" + sehirid,
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#SemtId").empty();
                    $("#SemtId").append(response);
                }
            })
        })



    })
</script>
<script>
    $(document).ready(function () {
        $("#SemtId").change(function () {

            var semtid = $(this).val();
            debugger
            $.ajax({
                type: "Post",
                url: "/İlan/MahalleGetir?SemtId=" + semtid,
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#MahalleId").empty();
                    $("#MahalleId").append(response);
                }
            })
        })



    })
</script>
<script>
    $(document).ready(function () {
        $("#DurumId").change(function () {

            var durumid = $(this).val();
            debugger
            $.ajax({
                type: "Post",
                url: "/İlan/TipGetir?DurumId=" + durumid,
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#TipId").empty();
                    $("#TipId").append(response);
                }
            })
        })



    })
</script>
