@model Emlak_Ofisi.Models.İlan

@{
    ViewBag.Title = "Edit";
}


<style>
   
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="container">
    <br />
    <h2>Güncelle</h2>
    <br />
  
    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.İlanId)


        <div class="form-group row" style="padding-bottom:10px;">
            @Html.LabelFor(model => model.UserName, "Kullanıcı Adı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row" style="padding-bottom:10px;">
            @Html.LabelFor(model => model.Açıklama, "Açıklama", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Açıklama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Açıklama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom:10px;">
            @Html.LabelFor(model => model.Fiyat, "Fiyat", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Fiyat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fiyat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom:10px;">
            @Html.LabelFor(model => model.OdaSayisi, "Oda Sayısı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.OdaSayisi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OdaSayisi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom:10px;">
            @Html.LabelFor(model => model.BanyoSayisi, "Banyo Sayısı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.BanyoSayisi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BanyoSayisi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom:10px;">
            @Html.LabelFor(model => model.Kredi, "Kredi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Kredi)
                    @Html.ValidationMessageFor(model => model.Kredi, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group row" style="padding-bottom:10px;">
            @Html.LabelFor(model => model.Alan, "Alan", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Alan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom:10px;">
            @Html.LabelFor(model => model.Kat, "Bulunduğu Kat", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Kat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom:10px;">
            @Html.LabelFor(model => model.Telefon, "Telefon", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom:10px;">
            @Html.LabelFor(model => model.Adres, "Adres", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group row" style="padding-bottom:10px;">
            @Html.LabelFor(model => model.SehirId, "Şehir", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @if (ViewBag.sehirlist != null)
                {
                    @Html.DropDownListFor(m => m.SehirId, ViewBag.sehirlist as SelectList, "Şehir Seç", new { @class = "form-control" })
                }
            </div>
        </div>

        <div class="form-group row" style="padding-bottom:10px;">
            @Html.LabelFor(model => model.SemtId, "Semt", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("SemtId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SemtId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row" style="padding-bottom:10px;">
            @Html.LabelFor(model => model.MahalleId, "Mahalle", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("MahalleId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MahalleId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom:10px;">
            @Html.LabelFor(model => model.DurumId, "Durum", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @if (ViewBag.durumlist != null)
                {
                    @Html.DropDownListFor(m => m.DurumId, ViewBag.durumlist as SelectList, "Durum Seç", new { @class = "form-control" })
                }
            </div>
        </div>



        <div class="form-group row">
            @Html.LabelFor(model => model.TipId, "Tip", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("TipId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding-bottom:10px;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
                @Html.ActionLink("İlan Listesi", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>

</div>

}

<script src="~/scriptss/scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#SehirId").change(function () {

            var sehirid = $(this).val();
            debugger
            $.ajax({
                type: "Post",
                url: "/İlan/SemtGetir?SehirId=" + sehirid,
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#SemtId").empty();
                    $("#SemtId").append(response);
                }
            })
        })



    })
</script>
<script>
    $(document).ready(function () {
        $("#SemtId").change(function () {

            var semtid = $(this).val();
            debugger
            $.ajax({
                type: "Post",
                url: "/İlan/MahalleGetir?SemtId=" + semtid,
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#MahalleId").empty();
                    $("#MahalleId").append(response);
                }
            })
        })



    })
</script>
<script>
    $(document).ready(function () {
        $("#DurumId").change(function () {

            var durumid = $(this).val();
            debugger
            $.ajax({
                type: "Post",
                url: "/İlan/TipGetir?DurumId=" + durumid,
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#TipId").empty();
                    $("#TipId").append(response);
                }
            })
        })



    })
</script>